.poke-list-item {

    margin-right:12px;
    margin-bottom:12px;
}

.poke-list {
    display: flex;
    flex-wrap: wrap;
}

.search-input {
    width: 60%;
    padding: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    background-color: #ffffff20;

    justify-content: center;
    /* align-items: center; */
    margin-bottom: 10px;
}

.mini-poke-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
}